.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 40px;
  background-image: url('/public/bg.svg');
  position: relative;
}
