.context-menu {
  position: fixed;
  z-index: 100;
  background-color: var(--color-20);
  border-radius: 10px;
  padding: 5px;

  .context-menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0;
    padding: 0;
  }
}
