@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  background-image: url('/public/bg.svg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #242424;
  --main-bg-color-op: rgba(36, 36, 36, 0.5);
  --main-text-color: #ffdaad;
  --color-10: #333333;
  --color-20: #444444;
  --color-30: #5e5e5e;
  --color-40: #6b6b6b;
  --color-50: #777777;
  --color-60: #ff981b;
  --color-70: #f7b565;
  --color-80: #fcd19e;
  --color-90: #ffebd2;
  --error-color: #ff0b0b;
  --online-color: #8774e1;
  --message-color: #4e3e9d;
  --scroll: rgba(255, 218, 173, 0.5);
}

.app {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  .icon {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
